table, td, th {
    border: 1.5px solid lightgray;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

/* .colOne {
    width: 50px;
}

.colTwo{
    width: 150px;
}

.colThree{
    width: 150px;
} */

.table{
    text-align: center;
}

.synopsis{
    column-span: all;
}